%h2 Cliente

%p#notice= notice
%p
  %strong Nit:
  = @cliente.nit
%p
  %strong Nombre:
  = @cliente.nombre
%p
  %strong Restaurante:
  = link_to @cliente.restaurante_nombre, restaurante_path(@cliente.restaurante.id)

= link_to 'Editar', edit_cliente_path(@cliente)
|
= link_to 'Atrás', clientes_path
