<p id="notice"><%= notice %></p>

<p>
  <strong>Nit:</strong>
  <%= @cliente.nit %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Restaurante:</strong>
  <%= @cliente.restaurante %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
