%h2 Restaurante
%p#notice= notice

%p
  %strong Nit:
  = @restaurante.nit
%p
  %strong Restaurante:
  = @restaurante.nombre
= link_to 'Editar', edit_restaurante_path(@restaurante)
|
= link_to 'Atrás', restaurantes_path
