%p#notice= notice
.container-fluid
  .row
    %main.col-sm-9.ml-sm-auto.col-md-12.pt-3{:role => "main"}
      %h1 Menús
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Código
              %th Nombre
              %th Precio
              %th Restaurante
              %th Acciones
          %tbody
            - @menus.each do |menu|
              %tr
                %td= menu.codigo
                %td= menu.nombre
                %td= formato_bs(menu.precio)
                %td= menu.restaurante_nombre
                %td
                  = link_to 'Mostrar', menu, class: 'btn btn-primary btn-sm'
                  = link_to 'Editar', edit_menu_path(menu), class: 'btn btn-info btn-sm'
                  = link_to 'Eliminar', menu, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: '¿Estas seguro?' }

%br/
= link_to 'Adicionar menú', new_menu_path, class: 'btn btn-primary'
