%h2 Menú

%p#notice= notice
%p
  %strong Codigo:
  = @menu.codigo
%p
  %strong Nombre:
  = @menu.nombre
%p
  %strong Precio:
  = @menu.precio
%p
  %strong Restaurante:
  = link_to @menu.restaurante_nombre, restaurante_path(@menu.restaurante.id)

= link_to 'Editar', edit_menu_path(@menu)
|
= link_to 'Atrás', menus_path
