<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @menu.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @menu.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @menu.precio %>
</p>

<p>
  <strong>Restaurante:</strong>
  <%= @menu.restaurante %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
