<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @mesa.numero %>
</p>

<p>
  <strong>Restaurante:</strong>
  <%= @mesa.restaurante %>
</p>

<%= link_to 'Edit', edit_mesa_path(@mesa) %> |
<%= link_to 'Back', mesas_path %>
