.container-fluid
  .row
    %main.col-sm-9.ml-sm-auto.col-md-12.pt-3{:role => "main"}
      %h1 Pedidos
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Mesa
              %th Cliente
              %th Precio
              %th Estado
              %th Acciones
          %tbody
            - @pedidos.each do |pedido|
              %tr
                %td= pedido.numero
                %td= pedido.mesa_numero
                %td= pedido.cliente_nombre
                %td= formato_bs(pedido.total)
                %td
                  - if pedido.atendido?
                    %button.btn.btn-success.btn-sm{:type => "button"} #{ pedido.estado }
                  - else
                    %button.btn.btn-danger.btn-sm{:type => "button"} #{pedido.estado}
                %td
                  = link_to 'Mostrar', pedido, class: 'btn btn-primary btn-sm'
                  - if pedido.solicitado?
                    = link_to 'Atender', atender_pedido_path(pedido), class: 'btn btn-info btn-sm'

%br/
= link_to 'Nuevo Pedido', new_pedido_path, class: 'btn btn-primary'
